.new{
	background-color:#f0f5f5;
}

.new_cars{
	padding: 12% 0 7% 0;
}

.cardetails img{
	border-radius:10px;
	text-align:center;
}

.cardetails p{
	padding: 10px 0 5px 0;
    text-align: center;
    margin-bottom: 0px;
}

.title label{
	padding:2% 0 2% 0%;
	font-size:20px;
}

.title{
	padding:1% 0 4% 0;
	grid-column-gap:1%;
}

.category{
	background-color:white;
	width:100%;
	border-radius:5px;
	box-shadow:1px 2px 2px 1px rgba(0,0,0,0.2);
}
#common{
	width:80%;
	height:35%;
	padding-left:20px;
	margin-bottom:15px;
	font-size: 17px;
	border-color: transparent;
	border-radius:5px;
	background-color:#f0f0f5;
}

.car_display{
	background-color:white;
	border-radius:5px;
	box-shadow:3px 2px 2px 1px rgba(0,0,0,0.2);
}

/* car details modal view */
.modal_design{
	margin-top:10%;
}
.modal-backdrop.show {
    opacity: 0.3 !important;
}

/* Payment modal design view*/

.container-fluid label{
	padding:0 0 5px 3px;
}
input[type=text], input[type=tel],textarea
{
	width: 100%;
    height: 35px;
    border: 1px solid #595959;
    padding-left: 5px;
    background: #f1f1f1;
	border-radius:5px;
}